extends layout

block content
  h1 #{avena.name}

  p #{avena.url}
  p #{avena.period}
  p
    - var data = []
      each flake in avena.flakes
        - data.push(flake.data[avena.variable]);

  script
    var chart = d3.select("body").append("div").attr("class", "chart");
    var datas = [#{data}];
    console.log(datas);
    chart.selectAll("div").data(datas)
      .enter().append("div")
      .style("width", function(d) { return d * 10 + "px"; }).text(function(d) { return d; });